# Built application files
*.apk
*.aab
*.aar
*.ap_
*.dex
*.class
*.so

# Files for the Android Emulator
.emulator_console_auth_token

# Gradle files
.gradle/
build/
app/build/
gradle.properties
local.properties
/gradle-wrapper/gradle-wrapper.jar

# IntelliJ/Android Studio files
.idea/
.idea/runConfigurations/
.idea/deployment.xml
.idea/shelf/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/jarRepositories.xml
.idea/assetWizardPaths.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/
.idea/scopes/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/navEditor.xml
.idea/deployment.xml
captures/
.externalNativeBuild/
.cxx/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.vs/
.history
.settings
.classpath
.project
Thumbs.db
*.iml

# Keystore files
*.jks
*.keystore
release.keystore

# Local test results
/app/build/test-results/
/test-results/
/test-results/debug/

# Log files
*.log
crashlytics.properties

# Other temporary files
*.swp
*.bak
*.swo

# Exclude local build output directories
**/build/
**/local.properties
**/intermediates/
**/merged/
**/generated/

# Exclude Android specific files
lint-results.xml
lint-results.html
lint-baseline.xml

# Exclude debug keystore
debug.keystore

# Firebase Crashlytics specific files
firebase-debug.log
firebase-release.log